<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>7NFQaAiLl66mm253GoPR1C1GNTH2GZ8U</string>
	<key>Domain</key>
	<string>8base-dev.auth0.com</string>
</dict>
</plist>
