<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>za3PTaoV700XrjSohJ7_QFUpW9klRRE2</string>
	<key>Domain</key>
	<string>https://api.8base.com/cjnopo7vd000c01pcq8xzbs44</string>
</dict>
</plist>
